version: '3.8'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: djteoz/junior-catalog_app:latest
    restart: unless-stopped
    env_file: .env
    depends_on:
      - db
    volumes:
      - ./:/var/www/html

  web:
    image: nginx:stable-alpine
    ports:
      - "80:80"
    volumes:
      - ./:/var/www/html:ro
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: junior_catalog
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: hyEF9TuXqgWx
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  pgdata:
